@page "/create"
<EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputNumber  @bind-Value="model.Value" />
    <InputDate  @bind-Value="model.EstimatedDate" />
    <InputCheckbox @bind-Value="model.IsConfirmed" />

    @if (model.IsConfirmed)
    {
        <InputDate @bind-Value="model.ConfirmedDate" />    
    }

    <button type="submit">Submit</button>
</EditForm>