@page "/recurrence/create"

<EditForm Model="@Model" OnValidSubmit="@HandleValidSubmitAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label class="form-label">
            Nome
        </label>
        <InputText class="form-control" @bind-Value="Model.Name" />
    </div>

    <div class="mb-3">
        <label class="form-label">
            Valor recorrente
        </label>
        <InputNumber class="form-control" @bind-Value="Model.Value" />
    </div>

    <div class="mb-3">
        <label class="form-label">
            Origem
        </label>

        <InputSelect class="form-select" @bind-Value="Model.OriginId">
            <option value="">Selecione</option>
            @foreach (var origin in Origins)
            {
                <option value="@origin.Id"> @origin.Alias</option>
            }
        </InputSelect>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Data de Inicio
        </label>

        <InputDate class="form-control" @bind-Value="Model.Start" />
    </div>

      <div class="mb-3">
        <label class="form-label">
            Data de Fim
        </label>

        <InputDate class="form-control" @bind-Value="Model.End" />
    </div>
    <button class="btn btn-success" type="submit">Submit</button>
</EditForm>