@page "/origin"
<PageTitle>Index</PageTitle>

<div class="d-flex justify-content-end mb-3">
    <a class="btn btn-primary" href="origin/create"> <i class="oi oi-plus"></i> Novo </a>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Apelido</th>
            <th class="action-button-th"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var origin in Origins)
        {
            <tr>
                <td>@origin.Alias</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Ações
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <button class="dropdown-item" @onclick="async () => await Delete(origin.Id)">Deletar</button>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>