@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>


<table class="">
    <thead>
        <tr>
            <th> Valor</th>
            <th> Data Estimada</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in @transactions)
        {
            <tr>
                <td>
                    @transaction.Value
                </td>
                <td>
                    @transaction.EstimatedDate
                </td>
            </tr>
        }
    </tbody>
</table>


